.App {
}

.text-primary {
  color: hsl(211, 100%, 50%) !important;
}

.border-primary {
  border-color: hsl(211, 100%, 50%) !important;
}

.bg-primary {
  background-color: hsl(211, 100%, 50%) !important;
}

a {
  color: hsl(211, 100%, 50%) !important;
}

.box-shadow {
  box-shadow: 0 5px 30px 0 hsl(0deg 0% 0% / 15%);
}
